.board {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 80vh;
  max-height: 80vh;
  width: 800px;
  height: 800px;
  margin: 20px auto;
  outline: 3px solid black;
  box-shadow: 0 0 4px 6px rgba(0,0,0,0.5);
}

.board.loading {
  opacity: .5;
}

.field {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  max-width: 12.5%;
  max-height: 12.5%;
  box-sizing: border-box;
}

.field > .piece:hover {
  box-shadow: inset 0 0 6px 2px rgba(0,0,0,0.5);
}

.field-white {
  background-color: #FFD473;
}

.field-black {
  background-color:#A67300;
}

.field-tooltip {
  display: none;
}

.field:hover .field-tooltip {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 12px;
  margin-top: 1px;
  margin-left: 1px;
}

.piece {
  width: 94px;
  height: 94px;
  max-width: 9.5vh;
  max-height: 9.5vh;
}

.game-status {
  max-width: 200px;
  min-width: 150px;
  margin-left: 20px;
  font-size: 20px;
  padding: 5px 10px;
  border: 2px solid black;
  border-radius: 4px;
  text-align: center;
}

.header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.footer {
  margin: 0 auto;
}

.footer p {
  text-align: center;
}

.header-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;

}

.game-menu {
  margin: 10px auto;

}

.game-menu input[name="gameMenu"] {
  display: none;
}

.game-menu label {
  margin-right: 20px;
}

.game-menu input[name="gameMenu"] + label {
  padding: 5px 10px;
  border: 2px solid black;
  border-radius: 4px;
}

.game-menu input[name="gameMenu"]:checked + label {
  border: 3px solid black;
  background-color: #C7FCB5;
}

.game-menu input[name="gameMenu"]:active + label {
  box-shadow: 0 0 8px 5px rgba(0,0,0,0.5);
}

.game-back--inactive {
  opacity: 0.15;
}

.btn-hidden {
  display: none;
}

@media screen and (max-width: 800px) {
  .board {
    max-width: 96vw;
    max-height: 96vw;
  }
  
  .field {
    max-width: 12vw;
    max-height: 12vw;
  }
  
  .piece {
    max-width: 12.0vw;
    max-height: 12.0vw;
  } 
  
  .game-menu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;    
  }
  .game-menu label {
    margin-bottom: 10px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .game-start {
    padding: 10px 20px;
  }
}
